<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        {{code-snippet width="100%" height="225" name="create-books-action.js"}}
        <div class="card-body">
          <p class="card-text">Cause unhandled exception with 422 response</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" {{action "createBooks"}}>
                Create Books
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
